.activities{
  min-width:var(--bar-sizes);
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:var(--reg-padding);
  background:var(--black-color);

  &-list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}

.item-icon{
  --sizes:65px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sizes);
  height: var(--sizes);
  background: var(--white-color);
  border-radius:var(--reg-radius);
  transition:var(--regTransi);

  img {
    width:42px;
    height:auto;
  }

  &:hover{
    transform:translateX(8px);
    background: var(--black-color);
  }
}

.copyright {
  margin-top:auto;
  writing-mode: sideways-lr;
  color:var(--white-color);
  font: {
    size:1.05rem;
  }

  a {
    color:var(--timer-color);
    
    font: {
      weight:bold
    }

    &:hover{
      color:var(--primary-color);
    }
  }
 
}