.choices {
  padding: var(--reg-padding);
  color: var(--black-color);
}

.row-choice {
  display: flex;
  width: fit-content;
  column-gap: var(--reg-padding);
  justify-content: space-evenly;

  margin-top: 1rem;
}

.error{
  color:var(--black-color)
}