.core-data {
  // height:100%;
  display: flex;
  column-gap: var(--reg-padding);
  padding:var(--reg-padding);
  color:var(--black-color);

  h2 {
    width:100%;
    height: fit-content;
    margin-block:0;
  }
}

.panel {
  
  
   &.graphics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow:1;
    padding-inline:0;
    row-gap:var(--reg-padding);
    background:var(--light-grey-color);
    
  }

  &.stats {
    display: flex;
    flex-direction: column;
    width:30%;
    
  }
}

