.main-nav {
  --op:.33;
  display:flex;
  align-items: center;
  width:100%;
  height:var(--bar-sizes);
  padding:var(--reg-padding);
  background-color: var(--black-color);
  position: relative;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,var(--op));
  
  ul {
    --gap: 10dvw;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  column-gap: var(--gap);
  }

}



.logo-sportsee {
  width:190px;
  height:auto;
  position: absolute;
  left:-95px;
}



.second-nav {
  margin-top:auto;
  background-color: var(--black-color);
  color: var(--white-color);
}

.link{

  font-size:1.35rem;
  color:var(--white-color);


  &.active {
    color:var(--primary-color);
  }
}