.stats-list{
  --gap:2rem;
  display: flex;
  flex-direction: column;
  row-gap:var(--gap);
  // padding:calc(var(--reg-padding) / 2);

  li {
    --radius:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:var(--light-grey-color);
    border-radius:var(--radius);
    padding:var(--reg-padding);


    & > span:first-of-type{
      $current:#FF0101;
      --current:#{lighten($current,   40%)};
      --sizes:60px;
      width: var(--sizes);
      height:var(--sizes);
      color:var(--white-color);
      border-radius: var(--reg-radius);
      background:var(--current);
      display: flex;
      justify-content: center;
      align-items: center;

      &.calo{
      $current:#FF0000;
      --current:#{lighten($current,40%)};
      }

      &.prot{
       $current:#4AB8FF;
       --current:#{lighten($current,10%)};
      }

      &.gluc{
        $current:#F9CE23;
        --current:#{lighten($current,40%)};
      }
      
      &.lipi{
        $current:#FD5181;
        --current:#{lighten($current,30%)};
      
      }
    }

    


  }

  .icon-stats{
    img {
      width:30px;
    }
  }
}

.vitals{
  display: flex;
  flex-direction: column;
  
  .label{
    font-size :1rem;
    font-weight:500;
    color:#74798C;
  }

  .unit {

     font : {
      size:20px;
      weight:600;
     }
     
  }

}