.core-data {
  // height:100%;
  display: flex;
  flex-wrap: wrap;
  padding:var(--reg-padding);
  color:var(--black-color);

  h2 {
    width:100%;
    height: fit-content;
    margin-block:0;
  }
}

.panel {
  
  
   &.graphics {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding-inline:0;
    background:var(--light-grey-color)
  }

  &.stats {
    display: flex;
    flex-direction: column;
    width:20%;
    
  }
}

.stats-list{
  --gap:2rem;
  display: flex;
  flex-direction: column;
  row-gap:var(--gap);
  padding:calc(var(--reg-padding) / 2);

  li {
    --radius:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:var(--light-grey-color);
    border-radius:var(--radius);
    padding:calc(var(--reg-padding) / 2);


    & >span:first-of-type{
      --sizes:60px;
      width: var(--sizes);
      height:var(--sizes);
      color:var(--white-color);
      border-radius: var(--reg-radius);
      background:var(--cool-color)
    }
  }

  .datas{
    display: flex;
    flex-direction: column;
  }

}