button {
 
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color:var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: var(--btn-radius);
  border: 1px solid transparent;
  transition: border-color 0.25s;

  &:hover {
    background-color: var(--cool-color);
  }

  &.profil{
    margin-inline:1rem;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


